.burger{
    &-fondo{
        background-color: #CEA174;
    }
}

h3{
    transition: 0.3s ease-in-out;
    font-weight: bold;
    cursor: pointer;
}
h3:hover{
    color: white;
    transform: scale(1.02);
}

a{
  all:unset;  
}