<div id="container" class="container-fluid">
    <app-banner-home></app-banner-home>
    <div class="row burger-fondo">
        <div class="d-flex justify-content-around mt-2">
            <a href="#carta"><h3>Carta</h3></a>
            <a href="#sobre-nosotros"><h3>Sobre Nosotros</h3></a>
            <a href="#contacto"><h3>Contáctanos</h3></a>
        </div>
    </div>
    <app-carne-recomendacion id="carta"></app-carne-recomendacion>
    <app-sobre-nosotros id="sobre-nosotros"></app-sobre-nosotros>
    <app-contacto-home id="contacto"></app-contacto-home>
</div>