<div class="row mt-5 mb-5">
    <div class="col-12 col-lg-6 mb-5">
        <h1 class="mt-5 text-center burger-text-titulo ">CALIDAD 100% GARANTIZADA</h1>
        <h3 class="mt-5 ms-5 me-5 burger-text">En nuestro restaurante, nos enorgullece ofrecer hamburguesas de alta calidad. Utilizamos carne de res 100% fresca.</h3>
        <h3 class="mt-5 ms-5 me-5 burger-text">Nos aseguramos de que nuestros proveedores cumplan con los más altos estándares de calidad. Además, nuestras hamburguesas se cocinan a la perfección en una parrilla abierta para que puedas disfrutar del sabor auténtico de la carne.</h3>
        <h3 class="mt-5 ms-5 me-5 burger-text">También ofrecemos opciones vegetarianas y veganas para aquellos que buscan una alternativa saludable y deliciosa. ¡Ven a probar nuestras hamburguesas y descubre por qué somos los mejores!</h3>
    </div>
    <!-- <div id="scene2" class="col-12 col-lg-6 scene d-flex  justify-content-center align-items-center ">
            <img data-depth="0.2" src="./../../../assets/imagenes/carneHamburguesa.png" alt="carnes cayendo" class="img-fluid burger-img w-100">
    </div> -->
    <div  id="scene2" class="col-12 col-lg-6 d-flex scene flex-column text-center justify-content-center row mx-auto">
        <img class="mx-auto burger-img img-fluid" data-depth="0.2" src="../../../assets/imagenes/carneHamburguesa.png" alt="">
        
        
    </div>
</div>
