.burger{
    &-text{
        text-align: justify;
        font-size: 20px;
        &-titulo{
            font-size: 30px;
            font-weight: bold;
        }
    }

    &-img{

        max-width: 600px;
        @media (min-width: 990px){
            width: 100% !important;
        }
    }

}
@media screen and (max-width: 576px) {
    h1{
        font-size: 22px !important;
    }
    h3{
        font-size: 18px !important;

    }
    
}
@media screen and (max-width: 400px) {
    h1{
        font-size: 18px !important;
    }
    h3{
        font-size: 14px !important;

    }
   
  }
