<div class="container-fluid pedido">
    
    <div class="row mt-5 justify-content-center opciones mx-auto">
        <div class="col-xl-3  col-lg-4 col-12 mx-auto my-5 entrega-card mb-3 text-center row" type="button"  (click)="metodoEntrega('envio')">
            <div class="col-8 my-3 mx-auto ">
                <h5>Envío</h5>
             </div>
            <div>
               <img src="../../../assets/imagenes/envio.png" alt="la 33">
            </div>
            
         </div>


         <div class="col-xl-3 col-lg-4  col-12  my-5 mx-auto entrega-card mb-3 text-center row" type="button"  (click)="metodoEntrega('recogida')" >
            <div class="col-8 my-3 mx-auto ">
               <h5>Recogida</h5>
            </div>
            <div>
               <img src="../../../assets/imagenes/recogidaTienda.png" alt="la 33">
            </div>
            
         </div>
         <!-- <button (click)="seleccionMetodo()"> aaaaaa</button> -->
    </div>
 </div>