<div class="sobreNosotros row">
    <div class="col-12 my-5 text-center">
        <h1 class="burger-text-titulo">SOBRE NOSOTROS</h1>
    </div>
    <div class="row mt-4 mx-auto px-5">
        <div class="col-12 col-lg-7 d-flex flex-column text-center justify-content-center row mx-auto">
            <img class="mx-auto" src="../../../assets/imagenes/logoburger.png" alt="">
            <div class="col-12 col-sm-10 mx-auto ">
                <iframe class="iframe p-5 pb-3  mx-auto text-center" src="https://maps.google.com/?ll=37.3826975,-5.9732405&z=16&t=m&output=embed"  frameborder="0" allowfullscreen width="100%" height="350"></iframe>
              </div>
            
            <p class="burger-ubicacion mb-5">Nos encontrarás en <br> C\ Ave del paraíso Nº69</p>
        </div>
        <div class="col-12 col-lg-5 text-center px-5 d-flex justify-content-center flex-column">
            <h3 class="mt-5 burger-text">Somos un restaurante familiar que ofrece las mejores hamburguesas de la ciudad. Nuestra pasión por la carne de calidad, el pan artesanal y los ingredientes frescos se refleja en cada
                bocado de nuestras deliciosas creaciones. </h3>

            <h3 class="mt-5 burger-text"> Desde las clásicas hamburguesas con queso y bacon, hasta las más originales con salsa barbacoa, aguacate o
                cebolla caramelizada, tenemos una opción para todos los gustos. </h3>
    
            <h3 class="mt-5 burger-text"> Además, contamos con una amplia variedad de acompañamientos, bebidas y postres para completar tu experiencia
                gastronómica. </h3>
    
            <h3 class="my-5 burger-text"> Ven a visitarnos y disfruta de un ambiente acogedor, un servicio atento y unas hamburguesas irresistibles.
            </h3>
        </div>

    </div>
</div>