.pedidos{
    background-color: #CEA174;
    min-height: 80vh;
    &-volver{
        cursor: pointer;
        &:hover{
            color: white;
        }
    }
    &-volverNavigation{
        cursor: pointer;
    }
    &-margin{
        @media (max-width: 1200px){
            margin-bottom: 2%;
        }
    }

    &-pendientes:last-child{
        @media (max-width: 1200px){
            margin-bottom: 15%;
        }
    }
}

.mdc-card {
    display: flex;
    flex-direction: row; 
    box-sizing: border-box;
}

.mat-mdc-raised-button:not(:disabled){
    color: #CEA174;
}