<div class="container-fluid">
    <ng-container *ngIf="!isLoggedIn;else tiendaLogged">
        <footer class="row burger">
            <div class="col-8 col-sm-6 col-md-5 col-lg-4 col-xl-2 my-2 mx-auto text-center">
                <img src="./../../../assets/imagenes/logoburger.png" class="img-fluid burger-logo" alt="logo burger24/7">
            </div>
            <div class="col-12 d-flex justify-content-center ">
                <img src="./../../../assets/imagenes/logotipo-redes-sociales-cuadrado-negro_197792-3367 1.png"
                    class="img-fluid burger-img-redes" alt="logo-instagram">
                <img src="./../../../assets/imagenes/facebook-logo-circular_318-37205 1.png"
                    class="img-fluid burger-img-redes" alt="logo-face">
                <img src="./../../../assets/imagenes/uber 1.png" class="img-fluid burger-img-redes" alt="logo-face">
            </div>
            <div class="col-12 d-flex justify-content-center">
                <img src="./../../../assets/imagenes/tripadvisor-fca7b-logo-65ff2-png-4f8a6-transparent-7804f-amp-1e850-svg-1ce11-vector-f0d44-freebie-1f2db-supply 1.png"
                    class="img-fluid burger-img-redes-advisor ms-4" alt="logo-advisor">
            </div>
            <div class="col-12 text-center burger-politicas mt-4 mb-3">
                <p class="d-inline"><a href=""></a>Aviso Legal</p><span class="ms-2">|</span>
                <p class="d-inline ms-2"><a href=""></a>Politica De Privacidad</p><span class="ms-2">|</span>
                <p class="d-inline ms-2"><a href=""></a>Politicas de Cookies</p>
            </div>
        </footer>
       
    </ng-container>

    <ng-template #tiendaLogged>
        <footer>
            <div class="row">
                <div>

                </div>
                <div class="col-8 col-sm-6 col-md-5 col-lg-4 col-xl-2 my-2 mx-auto text-center">
                    <img class="logo" src="../../../assets/imagenes/logoburger.png" alt="logo 24/burger">
                </div>
            </div>
            
        </footer>
    </ng-template>
</div>