.postres{
    background-color: #CEA174;
    min-height: 80vh;
    &-volver{
        cursor: pointer;
        &:hover{
            color: white;
        }
    }
}
button span, button {
    color: #cea174 !important;
}
.postres-card{
    border-radius: 10%;
 background-color: black;
 color: #CEA174;
 max-width: 350px;
}
img{
    width: 100%;
    max-width: 200px;
}

.descripcion{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:3 ;
    overflow: hidden;
    text-align: center;
}